on:
  issues:
    types: [opened]
jobs:
  checkSubmissionIssueTitle:
    runs-on: ubuntu-latest
    steps:
      - if: startsWith(github.event.issue.title, '[Submission]') != 'true'
        name: Check Issue title prefix
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: 1
          body: |
            The issue title must start with [Submission]
      - if: github.event.issue.title == '[Submission] <fill project's name>'
        name: Check Issue title format
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: 1
          body: |
            The issue title must include the name of the open-source project
