on:
  issues:
    types: [opened]
jobs:
  checkSubmissionIssueTitle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - if: startsWith(github.event.issue.title, '[Submission]') != 'true'
        name: Check Issue title prefix
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            The issue title must start with [Submission]
      - if: github.event.issue.title == '[Submission] <fill project name>'
        name: Check Issue title format
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            The issue title must include the name of the open-source project
      - uses: stefanbuck/github-issue-praser@v2
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/repository-submission.yml
      - name: Submission greetings
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            Thanks @${{github.event.issue.user.login}} for submitting ${{ steps.issue-parser.outputs.issueparser_url}}
      - name: Review submission
        uses: ngx-oss/gh-submission-review@v1.0
        with:
          url: ${{ steps.issue-parser.outputs.issueparser_url}}
          token: ${{ secrets.GITHUB_TOKEN }}
